<div>
    <section >
      <mat-label>Options</mat-label>
      <mat-checkbox class="example-margin">One</mat-checkbox>
      <mat-checkbox class="example-margin" >Two</mat-checkbox>
    </section>
  </div>
  
  <div>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1">Option 1</mat-radio-button>
      <mat-radio-button value="2">Option 2</mat-radio-button>
    </mat-radio-group>
  </div>
  <div>
    <mat-icon aria-hidden="true" aria-label="Example home icon" fontIcon="home">home</mat-icon>
  </div>
   <div>
    <button mat-button [matMenuTriggerFor]="aboveMenu">Above</button>
  <!-- #docregion menu-position -->
  <mat-menu #aboveMenu="matMenu" yPosition="above">
  <!-- #enddocregion menu-position -->
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  
  <button mat-button [matMenuTriggerFor]="belowMenu">Below</button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  
  <button mat-button [matMenuTriggerFor]="beforeMenu">Before</button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  
  
  <button mat-button [matMenuTriggerFor]="afterMenu">After</button>
  <mat-menu #afterMenu="matMenu" xPosition="after">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  
   </div>
   
   <mat-list role="list">
    <mat-list-item role="listitem">Item 1</mat-list-item>
    <mat-list-item role="listitem">Item 2</mat-list-item>
    <mat-list-item role="listitem">Item 3</mat-list-item>
  </mat-list>
  
  <mat-slider>
    <input matSliderThumb>
  </mat-slider>
  
  <mat-tab-group>
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>
  
  <button mat-raised-button
          matTooltip="Info about the action"
          aria-label="Button that displays a tooltip when focused or hovered over">
    Action
  </button>

  